nav {
	position: sticky;
	top: 0;
	width: calc(100% - 64px);
	display: flex;
	justify-content: space-between;
	padding: 24px 32px;
	margin: 0 32px;
	background-color: #F0ECE7F8;
	box-shadow: 0 0 8px 8px #F0ECE7F8;
}

.nav-links {
	display: flex;
	gap: 2em;
}

.nav-links a, .nav-name {
	text-decoration: none;
	color: #000000
}

.nav-links a:hover, .nav-name:hover, .nav-links a.active {
	text-decoration: underline;
	color: #8FA5BB
}