footer {
	background-color: #FFFFFF;
	padding: 48px 32px 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: end;
}

footer p {
	font-size: 16px;
	margin: 0
}

.contact-buttons {
	display: flex;
	gap: 12px;
}

.contact-buttons .btn {
	font-size: 16px;
	border: 2px solid #000;
	background: #D8E4EF;
	padding: 12px 24px;
	border-radius: 22px;
}